*{
    border-radius:10px;
    font-family: 'sans-serif';
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 800;

}
body { 
  background: linear-gradient(rgb(73, 7, 70),black);
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.container {
  border: 5px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  min-height: 600px;
}
.line {
  display: flex;
  flex: 1; 
}
.square {
  border-radius: 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  flex: 1; 
}
.resetButton{
    color: black;
    min-width: 70px;
    min-height: 40px;
}

.options,.changeGrid{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

button{
  transition: 0.5s;
  cursor: pointer;

}
button:hover{
  background-color: rgb(254, 9, 172);
  scale: 1.2;
}